<div class="task col-xs-12">
  <span class="description<%= task.completed ? ' completed' : nil %>">
    Description:
    <%= link_to task_path(task.id) do %>
    <%= task.description %>
    <% end %>
  </span>
  <span class="due-date">
    <%= is_completed(task) %>
  </span>
  <div class="row">
  <div class="links">
    <span class="link">
      <%= toggle_complete(task) %>
    </span>
    <span class="link">
      <%= link_to 'Delete Task', task_path(task.id), method: 'delete' %>
    </span>
    <span class="link">
      <%= link_to 'Update Task', edit_task_path(task.id) %>
    </span>
    <span class="link">
      <%= link_to 'Send Reminder', reminder_path(task.id), method: 'post' %>
    </span>
  </div>
  </div>
</div>
