<!DOCTYPE html>
<html>
<head>
  <title>TodoTwilio</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div id="navbar" class="navbar-default navbar">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Tasks</a></li>
      <li><a href="<%= new_task_path %>">New Task</a></li>
    </ul>
  </div>
  <div class="container">
    <div class="row">
      <% flash.each do |type, msg| %>
        <div class="alert alert-block alert-<%= type %>">
        <%= msg %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <%= yield %>
    </div>
  </div>
</body>
</html>
